@import 'reset';

body {
    font: 100% Helvetica, sans-serif;
    background-color: #efefef;
  }

.hello {
    margin: 0 auto;
    font-size: 32px;
    border: 1px solid black;
    text-align: center;
}
